{% extends 'sablona.html' %}

{% block nav %}
<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="collapse navbar-collapse container"  id="navbarNav">
            <ul class="navbar-nav mr-autox ps-5">
                <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active">Správa pojištěnců</a></li>
                <li class="nav-item"><a href="{{ url_for('o_aplikaci') }}" class="nav-link">O aplikaci</a></li>
                <li class="nav-item"><a href="{{ url_for('autor') }}" class="nav-link">Autor aplikace</a></li>
            </ul>
        </div>
        <a href="{{ url_for('index') }}" class="navbar-brand mb-0 h1">Evidence pojištěnců</a>
    </nav>                    
</div>
{% endblock nav %}

{% block header %}
  <div class="container mt-5 pt-3">
    <h1>Správa pojištěnců</h1>
  </div>
{% endblock header %}

{% block content %}
<nav class="container d-grid gap-3 pt-4">
  <a class="btn btn-outline-primary btn-lg mt-3 fw-bold" aria-current="page" href="{{ url_for('registruj') }}">Registrace pojištěnce</a>
  <a class="btn btn-outline-primary btn-lg mt-2 fw-bold" href="{{ url_for('vyhledej') }}">Vyhledání pojištěnce</a>
  <a class="btn btn-outline-primary btn-lg mt-2 fw-bold" href="{{ url_for('edituj') }}">Editace pojištěnce</a>
</nav>
{% endblock content %}
